@{ Layout = null; }

<!doctype html>
<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Register | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/UserTemplate/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/owl.carousel.css">
    <link rel="stylesheet" href="~/UserTemplate/css/owl.theme.css">
    <link rel="stylesheet" href="~/UserTemplate/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/notika-custom-icon.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/UserTemplate/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/UserTemplate/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Login Register area Start-->
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <div class="nk-form">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input id="inputUname" type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input id="inputPassword" type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="fm-checkbox">
                    <label><input type="checkbox" class="i-checks"> <i></i> Beni Hatırla</label>
                </div>
                <a href="#l-register" data-ma-action="nk-login-switch" data-ma-block="#l-register" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></a>
                <button id="btnLogin" class="btn btn-login btn-success btn-float">Giriş</button>
            </div>

            <div class="nk-navigation nk-lg-ic">
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Kayıt Ol</span></a>
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Şifremi Unuttum</span></a>
            </div>
        </div>

        <!-- Register -->
        <div class="nk-block" id="l-register">
            <div class="nk-form">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>

            <div class="nk-navigation rg-ic-stl">
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>
        </div>

        <!-- Forgot Password -->
        <div class="nk-block" id="l-forget-password">
            <div class="nk-form">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                </div>

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>

            <div class="nk-navigation nk-lg-ic rg-ic-stl">
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
            </div>
        </div>
    </div>
    <!-- Login Register area End-->
    <!-- jquery
        ============================================ -->
    <script src="~/UserTemplate/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/UserTemplate/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/UserTemplate/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/UserTemplate/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/UserTemplate/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/UserTemplate/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/UserTemplate/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/UserTemplate/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/UserTemplate/js/counterup/waypoints.min.js"></script>
    <script src="~/UserTemplate/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/UserTemplate/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/UserTemplate/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/UserTemplate/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="~/UserTemplate/js/flot/jquery.flot.js"></script>
    <script src="~/UserTemplate/js/flot/jquery.flot.resize.js"></script>
    <script src="~/UserTemplate/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="~/UserTemplate/js/knob/jquery.knob.js"></script>
    <script src="~/UserTemplate/js/knob/jquery.appear.js"></script>
    <script src="~/UserTemplate/js/knob/knob-active.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="~/UserTemplate/js/chat/jquery.chat.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="~/UserTemplate/js/wave/waves.min.js"></script>
    <script src="~/UserTemplate/js/wave/wave-active.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/UserTemplate/js/icheck/icheck.min.js"></script>
    <script src="~/UserTemplate/js/icheck/icheck-active.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="~/UserTemplate/js/todo/jquery.todo.js"></script>
    <!-- Login JS
        ============================================ -->
    <script src="~/UserTemplate/js/login/login-action.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/UserTemplate/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/UserTemplate/js/main.js"></script>

    <script>
        $(document).ready(function () {

            $("#btnLogin").click(function () {
                var data = {
                    UserName: $("#inputUname").val(),
                    Password: $("#inputPassword").val()
                }

                $.ajax({
                    url: "/Auth/LogIn",
                    method: "post",
                    dataType: "json",
                    data: { login: data },
                    success: function (response) {
                        if (response.result) {
                            window.location.href = "/Home/Index";
                        } else {
                            alert("Kullanıcı bulunamadı!")
                        }

                    }
                })

            });

        });
    </script>
</body>

</html>