@{ Layout = null;}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/AdminArea/loginpage/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/css/util.css">
    <link rel="stylesheet" type="text/css" href="/AdminArea/loginpage/css/main.css">
    <link href="~/lib/toastr-master/build/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <style>
        .error {
            color: red;
        }
    </style>

</head>
<body>
    <div class="limiter">
        <div id="divMessage"></div>
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/AdminArea/loginpage/images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        Outurum Aç
                    </span>
                </div>

                <form id="formLogIn" class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Kullanıcı Adı</span>
                        <input name="userName" class="input100" type="text" id="txtUserName" placeholder="Kullanıcı adını giriniz">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Parola</span>
                        <input name="password" class="input100" type="password" id="txtPassword" placeholder="Parolanızı giriniz">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Beni Hatırla
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Şifremi Unuttum?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button id="btnLogIn" type="button" class="btn btn-success btn-block">Giriş</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/AdminArea/loginpage/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/AdminArea/loginpage/vendor/animsition/js/animsition.min.js"></script>
    <script src="/AdminArea/loginpage/vendor/bootstrap/js/popper.js"></script>
    <script src="/AdminArea/loginpage/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/AdminArea/loginpage/vendor/select2/select2.min.js"></script>
    <script src="/AdminArea/loginpage/vendor/daterangepicker/moment.min.js"></script>
    <script src="/AdminArea/loginpage/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/AdminArea/loginpage/vendor/countdowntime/countdowntime.js"></script>
    <script src="/AdminArea/loginpage/js/main.js"></script>
    <script src="~/lib/toastr-master/build/toastr.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnLogIn").click(function () {

                $("#formLogIn").validate({

                    rules: {
                        userName: {
                            required: true,
                        },
                        password: {
                            required: true,
                        }
                    },
                    messages: {
                        userName: {
                            required: "Kullanıcı adı boş bırakılamaz!",
                        },
                        password: {
                            required: "Parola boş bırakılamaz!",
                        }
                    },
                });

                if ($("#formLogIn").valid()) {

                    var model =
                    {
                        UserName: $("#txtUserName").val(),
                        Password: $("#txtPassword").val()
                    }

                    $.ajax({
                        url: "/Admin/AdminAuth/LogIn",
                        method: "post",
                        dataType: "json",
                        data: { user: model },
                        success: function (response) {
                            if (response.result) {
                                window.location.href = "/Admin/AdminHome/Index";
                            }
                            else {
                                Command: toastr["error"](response.message)
                                toastr.options = {
                                    "closeButton": false,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": false,
                                    "positionClass": "toast-top-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                $("#txtUserName").val("")
                                $("#txtPassword").val("")
                            }
                        }
                    });
                }
            });
        });

    </script>
</body>
</html>
